.box{
    border: 2px solid $color-primary;
    padding: 2rem;
    border-radius: 2px;
    
    &-container--left{
        padding-right: 1.5rem;
    }

    &-container--right{
        padding-left: 1.5rem;
    }

    &__item{
        color: $color-primary;
        font-size: 1.8rem;
    }

    &__text{
        display: inline-block;
        vertical-align: middle;
        padding-left: 1rem;
        font-size: 1.6rem;
    }
}