.box{
    border: 2px solid $color-white;
    padding: 2rem;
    border-radius: 2px;

    &__item{
        color: $color-white;
        font-size: 1.6rem;
    }

    &__text{
        display: inline-block;
        vertical-align: middle;
        padding-left: 1rem;
        

    }
}