.custom-card{
    position: relative;
    background-color: $color-primary;
    text-align: center;
    padding: 3rem;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, .15);
    transition: transform .3s;


    &:hover{
        transform: translateY(-1rem);
        box-shadow: 0 2rem 4rem rgba(0, 0, 0, .25);

    }


    &__text{
        color: $color-white;
        font-size: 1.5rem;
    }

}