.form-container{
    padding: 4rem 0;
    background-color: $color-primary;


.form-control{
    border: none;
    height: calc(3.25rem + 2px);
    border-radius: 2px;
    font-size: 1.4rem;
    }

    

.btn{
    height: calc(3.25rem + 2px);
    width: 100%;
    border-radius: 0;
}

}