.u-mb-s{
    margin-bottom: 3rem !important; 
    
}

.u-mb-m{
    margin-bottom: 5rem !important; 
}

.u-mb-l{
    margin-bottom: 7rem !important; 
}

.u-color-white{
    color: $color-white !important;
}

.u-fs-m{
font-size: 2.2rem !important;
}

