.section-digital{
    padding: 5rem 0;
    background-color: $color-light-grey;

    &__image{
        width: 100%;
    }

}
    
.section-why{
    padding: 5rem 0;
    
}

.section-numbers{
    padding: 5rem 0;
    background-color: $color-light-grey;
}


.section-features{
    padding: 5rem 0;
    background-color: $color-white;
}

.section-modules{
    padding: 5rem 0;
    background-color: $color-light-grey;
}
