.section-digital{
    padding: 5rem 0;
    background-color: $color-light-grey;

    &__image{
        width: 100%;
    }

}
    
.section-why{
    padding: 5rem 0;
    
}

.section-numbers{
    padding: 5rem 0;
    background-color: $color-light-grey;
}


.section-features{
    padding: 5rem 0;
    background-color: $color-white;
}

.section-modules{
    padding: 5rem 0;
    background-color: $color-light-grey;
}


.section-dates{
    padding: 5rem 0;
    background-color: $color-white;
}

.section-contact{
    padding: 2.5rem 0;
    background-color: $color-primary;
    color: $color-white;
    font-size: 1.6rem;

    &__link{
        text-decoration: none;
        color: $color-white;
    }
}

