.section-digital{
    padding: 4rem 0;
    background-color: $color-light-grey;

    &__image{
        width: 100%;
    }

}
    
.section-why{
    padding: 5rem 0;
    
}

.section-numbers{
    padding: 4rem 0;
    background-color: $color-light-grey;
}

